@charset "utf-8";
/* CSS Document */

.panel-box {
    border-color: #ccc;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-top: 15px;
}
h2 {
	text-align: center;
	text-decoration: underline;
	margin-bottom: 30px;
}
label {
    float: left;
    width: 20%;
}
.btn-submit {
    background-color: #59b2e0;
    border-color: #59b2e6;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    height: auto;
    outline: medium none;
    padding: 14px 0;
    text-transform: uppercase;
}
